{% extends "base.html" %}

{% block title %}
    Login
{% endblock %}

{% block content %}
    <form method = "POST">
        <h1 align = "center">
            Login
        </h1>
    <div class = "form-group">
        <label for = "username">Username</label>
        <input type = "text" id="username" name="username" class = "form-control" placeholder = "Enter Your Username"/>
        <label for = "password">Password</label>
        <input type = "password" id="password" name="password" class = "form-control" placeholder = "Enter Your Password"/>
    </br>
    <div align = "center">
    <button class = "btn btn-primary" type = "submit">Login</button>
    <a href="/sign-up">
        <button type="button" class="btn btn-primary btn">Don't have an account? click here</button></a>
    </div>
    </div>
    </form>
{% endblock %}