{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content%}
    <h1 align="center">{% block header %}Posts{% endblock %}</h1>
    {% block footer %}
    <div align="center">
        <a href="/create-post"
          ><button type="button" class="btn btn-primary btn-lg">
            Upload a Post
          </button></a>
          <h3 align="center">Log-in is required to upload a post</h3>
      </div>
    <div id="posts">
      {% endblock %}
      {% for post in posts %}
      <div class="card border-dark">
        <div class="card-header d-flex justify-content-between align-items-center">
          <a href="/posts/{{post.author_id}}">{{post.author_id}}</a>
          {% if user["id"] == post.author_id %}
          <div class="btn-group">
            <button
              type="button"
              class="btn btn-sm btn-primary dropdown-toggle"
              data-bs-toggle="dropdown"
            >Delete</button>
            <ul class="dropdown-menu">
              <li>
                <a href="/delete/{{post.id}}" class="dropdown-item">Click here to delete to post</a>
              </li>
            </ul>
            </div>
            {% endif %}
        </div>
        <div class="card-body">
          <div class="card-text">{{post.text}}</div>
        </div>
        <div class="card-footer text-muted">{{post.date_created}}</div>
      </div>
      <br/ >
      {% endfor %}
    </div>
    {% endblock %}